body {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    grid-template-areas:
        "title"
        "content"
        "footer"
        "var_dump";

    .page__titles {
        grid-area: title;
        padding-inline: 0.7em;
        color: black;
        background-image: linear-gradient(whitesmoke, orange);
        z-index: 1;
        position: sticky;
        top: 0;
        border-bottom: 1px solid black;
        margin-bottom: 1em;
    }

    .page__content {
        grid-area: content;
        padding-inline: 0.7em;

    }

    .page__footer {
        grid-area: footer;
        position: sticky;
        bottom: 0;
        padding: 0.7em;
        color: white;
        background-image: linear-gradient(forestgreen, darkgreen);
        display: grid;

        .result {
            grid-row: 1;
            grid-column: auto;
            font-weight: bold;
            font-size: 1.5em;
        }
    }

    .xdebug-var-dump {
        grid-area: var_dump;
        grid-row: auto;
        max-width: 100%;
        min-height: 40em;
        overflow: auto;
    }
}
