.report {
    width: fit-content;
    margin-bottom: 1em;
    border: 1px solid;
    display: grid;
    /*grid-template-areas:*/
    /*    "title          title"*/
    /*    "label-input    label-calculation"*/
    /*    "input          calculation"*/
    /*    "result         result";*/
    grid-template-areas:
            "report__header"
            "report__body"
            "report__footer";

    .report__header {
        grid-area: report__header;
        border-bottom: 1px solid;
        /*display: grid;*/
        /*grid-template-areas:    "title          title"*/
        /*                        "label_input    label_calculation";*/

        .report__title {
            grid-area: title;
            font-weight: bolder;
            font-size: large;
            background-image: linear-gradient(blue, darkblue);
            color: white;
            padding: 0.4em 0.6em;
            margin: 0;
        }

    }


    .report__body {
        grid-area: report__body;
        max-height: 24em;
        overflow: auto;
        padding-inline: 0.8em;
        display: grid;
        grid-column-gap: 4em;
        /*grid-template-areas:*/
        /*    "label-input    label-calculation"*/
        /*    "input          calculation";*/

        .report__label {
            border-bottom: 1px solid;
            margin-bottom: 0.6em;
            text-align: left;
            font-weight: bold;
            padding-top: 0.4em;
            padding-inline: 0.6em;
            padding-bottom: 0.6em;
            position: sticky;
            top: 0;
            background-color: white;
        }

        .report__label--input {
            /*grid-area: label-input;*/
        }

        .report__label--calculation {
            /*grid-area: label-calculation;*/
        }

        span {
            padding-inline: 0.2em;
        }

        /*.report__row {*/
        /*    display: flex;*/

        .report__column {
            padding-inline: 0.6em;
        }

        .report__column--input {
            /*grid-area: input;*/
        }

        .report__column--calculation {
            /*grid-area: calculation;*/
        }

    }

    .report__footer {
        grid-area: report__footer;
        border-top: 1px solid;

        .report__result {
            grid-area: result;
            font-weight: bold;
            padding: 0.4em 0.6em;
        }

    }

}
