<form class="submit-answer" action="https://adventofcode.com/2024/day/3/answer"
      method="post"
>
    <input type="hidden" name="level" value="{{ level }}">
    <input type="hidden" name="answer" value="{{ answer }}">
    <input class="" type="submit" value="Submit">
</form>